<div class="container">
    <div class="cenzor">
        <div class="photo1"></div>
        <div class="text">Angular list of prohibited words</div>
        <div class="hr"></div>
        <div class="footer">
            <button class="details" [routerLink]="[ '/works/cenzor']" routerLinkActive="active">details</button>
        </div>
    </div>
    <div class="userlist">
        <div class="photo2"></div>
        <div class="text">Angular task list</div>
        <div class="hr"></div>
        <div class="footer">
        <button class="details" [routerLink]="['/works/userlist']" routerLinkActive="active" >details</button>
        </div>
    </div>
    <div class="tasklist">
        <div class="photo3"></div>
        <div class="text">Angular users list</div>
        <div class="hr"></div>
        <div class="footer">
            <button class="details" [routerLink]="[ '/works/tasklist']" routerLinkActive="active">details</button>
        </div>
    </div>
    </div>
